﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="2" MadCap:lastHeight="367" MadCap:lastWidth="648">
    <head>
    </head>
    <body>
        <h1>Naming the Target Environment</h1>
        <p>Templates for the <MadCap:variable name="S3 Connector Variables.ComponentName"></MadCap:variable> component installation (described next) can be copied to your deployment server from the <MadCap:variable name="General.CompanyName"></MadCap:variable><MadCap:variable name="S3 Connector Variables.ComponentName"></MadCap:variable> repository on GitHub. You can enter a name for your environment in the copy command as follows:</p>
        <p class="codeparatext_lastline">cp -r env/client-template env/{{my_setup_env}}</p>
        <p class="Note">If you do not have access to the GitHub repository, create a directory under <cite>/env</cite> on your deployment machine, using a name that will represent your deployment environment. Then add a file named <cite>inventory</cite> to the new directory and copy the content of the template from the <a href="Modifying the Inventory File Template.htm">Modifying the Inventory File Template</a> section to the new file. Also create a <cite>/group_vars/all</cite> file in the new directory and copy template content to it from the <a href="Modifying the Group Variables Template.htm">Modifying the Group Variables Template</a> section. </p>
    </body>
</html>