/* MadCap Table Style: */

/*<meta conditions="" Version="9" />*/

mcTableStyle
{
	name: SimpleDefinitions;
	border-collapse: collapse;
	max-id: 3;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #000000;
	name: Column1;
	id: 0;
	cell-padding-left: 6px;
	cell-padding-right: 6px;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
	size: 20px;
	text-align: center;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Row1;
	id: 1;
}


/* Cell Styles: */
 
.TableStyle-SimpleDefinitions
{
	border-collapse: collapse;
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 20px;
	border-spacing: 0px 0px;
}

.TableStyle-SimpleDefinitions-Column-Column1
{
	width: 20px;
}

.TableStyle-SimpleDefinitions-HeadI-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-HeadI-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-HeadE-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDefinitions-HeadE-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-HeadF-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-HeadF-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-HeadH-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDefinitions-HeadH-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-HeadD-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-HeadD-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-HeadC-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-HeadC-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-HeadB-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDefinitions-HeadB-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-HeadA-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-HeadA-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-HeadG-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-HeadG-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-FootI-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-FootI-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-FootE-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDefinitions-FootE-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-FootF-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-FootF-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-FootH-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDefinitions-FootH-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-FootD-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-FootD-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-FootC-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-FootC-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-FootB-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDefinitions-FootB-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-FootA-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-FootA-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-FootG-Column1-
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-FootG-Column1- p
{
	
}

.TableStyle-SimpleDefinitions-Body-Row1
{
	
}

.TableStyle-SimpleDefinitions-BodyI-Column1-Row1
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-BodyI-Column1-Row1 p
{
	
}

.TableStyle-SimpleDefinitions-BodyE-Column1-Row1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDefinitions-BodyE-Column1-Row1 p
{
	
}

.TableStyle-SimpleDefinitions-BodyF-Column1-Row1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-BodyF-Column1-Row1 p
{
	
}

.TableStyle-SimpleDefinitions-BodyH-Column1-Row1
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDefinitions-BodyH-Column1-Row1 p
{
	
}

.TableStyle-SimpleDefinitions-BodyD-Column1-Row1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-BodyD-Column1-Row1 p
{
	
}

.TableStyle-SimpleDefinitions-BodyC-Column1-Row1
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-BodyC-Column1-Row1 p
{
	
}

.TableStyle-SimpleDefinitions-BodyB-Column1-Row1
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-right-width: 0px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-SimpleDefinitions-BodyB-Column1-Row1 p
{
	
}

.TableStyle-SimpleDefinitions-BodyA-Column1-Row1
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-BodyA-Column1-Row1 p
{
	
}

.TableStyle-SimpleDefinitions-BodyG-Column1-Row1
{
	text-align: center;
	padding-left: 6px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-SimpleDefinitions-BodyG-Column1-Row1 p
{
	
}


