﻿<?xml version="1.0" encoding="utf-8"?>
<html MadCap:lastBlockDepth="6" MadCap:lastHeight="862" MadCap:lastWidth="654" xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd">
    <head>
    </head>
    <body>
        <p MadCap:conditions="PrintGuides.S3" class="ChapterNumber">12</p>
        <p MadCap:conditions="PrintGuides.Zenko" class="ChapterNumber">13</p>
        <h1 MadCap:autonum="1. &#160;">Metadata Disk Replacement</h1>
        <p class="DramaBox" style="text-align: left;">Scality strongly recommends that metadata and the operating system be installed on different disks.</p>
        <p class="Alert" style="text-align: left;">Should it be necessary to change the server or reinstall the operating system, be sure to retain the same IP address. </p>
        <p style="text-align: left;">For instructions on installing the S3 Metadata service, refer to the <MadCap:variable name="General.SetupInstall" />.</p>
        <h2 MadCap:autonum="1.1 &#160;"><a name="Retrievi"></a>Retrieving Mountpoints and Disks Associated with  S3 Service Components</h2>
        <p>Refer to the <span class="FileName">env/{{ENV_NAME}}/group_vars/all</span> file in the Federation installation folder to locate the original mountpoints.</p>
        <p>If using an offline installer, run the following command to put ansible in the path:</p><pre>source $S3_OFFLINE_DIR/repo/venv/bin/activate</pre>
        <p>Starting with release 7.2, an additional ansible setting was introduced to configure the data storage location, specifically for bucket storage (<b>metadata-bucket</b> containers). In keeping with this there are four commands to retrieve the various mountpoints used. As a reminder, the four variables are:</p>
        <ul>
            <li><b>env_host_conf</b> (single path): Specify the storage mountpoint of all S3 service configuration files</li>
            <li><b>env_host_logs</b> (single path): Specify the storage mountpoint of all S3 service logs</li>
            <li><b>env_host_data</b> (single path): Specify the storage mountpoint of most S3 service config files and data</li>
            <li><b>env_metadata_bucket_datapaths</b> (YAML list of paths): Specify the storage mountpoint(s) for bucket storage.</li>
        </ul>
        <p>Note that all following commands have ansible-styled output, and will output the values as JSON. This is mostly relevant for the list of paths contained by the third variable.</p>
        <p style="page-break-after: avoid;">Command to retrieve <b>env_host_data</b>:</p><pre>ansible -i env/{{ENV_NAME}}/inventory.1site '127.0.0.1' -c local -m debug -a var=env_host_data</pre>
        <p>Command to retrieve <b>env_host_conf</b>:</p><pre>ansible -i env/{{ENV_NAME}}/inventory.1site '127.0.0.1' -c local -m debug -a var=env_host_conf</pre>
        <p>Command to retrieve <b>env_host_logs</b>:</p><pre>ansible -i env/{{ENV_NAME}}/inventory.1site '127.0.0.1' -c local -m debug -a var=env_host_logs</pre>
        <p>Command to retrieve <b>env_metadata_bucket_datapaths</b>:</p><pre>ansible -i env/{{ENV_NAME}}/inventory.1site '127.0.0.1' -c local -m debug -a var=env_metadata_bucket_datapaths</pre>
        <h2 MadCap:autonum="1.2 &#160;">Actions to Take Prior to Installing S3 Service Stateful Components</h2>
        <p class="Note">Refer to <a href="#Retrievi">section 1</a> for information on how to retrieve the current mountpoints.</p>
        <p>For SSDs in <b>env_host_logs</b>, <b>env_host_conf</b>, <b>env_host_data</b>, or <b>env_metadata_bucket_datapaths</b>:</p>
        <ul>
            <li>For SSDs shared with the RING, ensure that when the machine reboots Docker will start only once the RING StoreNode has started, so that the StoreNode can mount the disks first.</li>
            <li>For SSDs dedicated to S3 only, mount the associated disk in the server at the configured mountpoint, and ensure  that when the machine reboots that the mountpoint is mounted before Docker starts, when the server restarts.</li>
        </ul>
        <p>A dedicated disk for logs can also be put in place. </p>
        <h2 MadCap:autonum="1.3 &#160;">Replacing a Lost S3 Service Stateful Component Data Disk</h2>
        <p class="Note">Refer to <a href="#Retrievi">section 1</a> for information on how to retrieve the current mountpoints.</p>
        <p>If the lost SSD is included in the list of mountpoints provided for <b>env_metadata_bucket_datapaths</b> and it is dedicated solely to metadata, mount the new disk to the original mountpoing and follow the instructions for <a href="#Replacin">replacing a lost metadata disk</a> (if the SSD is not dedicated to metadata only, refer to the RING procedure for replacing a disk).</p>
        <p>If the lost SSD is defined as the <b>env_host_data</b>, <b>env_host_conf</b>, or <b>env_host_log</b> mountpoint, follow the instructions for <a href="#Replacin2">replacing a lost S3 service disk</a>.</p>
        <p>Once the SSD replacement is complete, <a href="#Rerun">rerun the metadata service</a> to finalize the replacement procedure.</p>
        <h3 MadCap:autonum="1.3.1 &#160;"><a name="Replacin"></a>Replacing a Lost Metadata Disk</h3>
        <p class="Note">Refer to <a href="#Retrievi">section 1</a> for information on how to retrieve the current mountpoints.</p>
        <p>An option is available that allows metadata to store data on multiple mountpoints. Because this mechanism is similar to a RAID0, losing a mountpoint (or disk) means losing access to the whole dataset of Metadata (bucket storage). As a result, if any of the mountpoints of <b>env_metadata_bucket_datapaths</b> are lost, the entire set must be wiped before proceeding further.</p>
        <p>On the machine that lost one or more disks for each mountpoint contained in <b>env_metadata_bucket_datapaths</b> that is still mounted and available, run the following command for each directory in <span class="Code_Terminal">env_metadata_bucket_datapaths</span> on the machine that has the SSD replaced:</p><pre>rm -rf &lt;&lt;directory&gt;&gt;/scality-metadata-databases-bucket/*</pre>
        <p>Be aware that the ansible binary must be in the path for the command to work.</p>
        <p>After running the command, all data and state are wiped from the bucket storage container and it is ready to re-synchronize with the cluster. To finalize the procedure, <a href="#Rerun">rerun the metadata service</a>, following the steps for re-creating directories and restarting the service on the impaired machine.</p>
        <h3 MadCap:autonum="1.3.2 &#160;"><a name="Replacin2"></a>Replacing a Lost S3 Service Disk</h3>
        <p class="Note">Refer to <a href="#Retrievi">section 1</a> for information on how to retrieve the current mountpoints.</p>
        <p>Three mountpoints at the S3 service level could be impacted by a disk loss: <b>env_host_logs</b>, <b>env_host_conf</b>, and <b>env_host_data</b>. These mountpoints should be treated in the same manner.</p>
        <ol>
            <li>Stop Docker.</li>
            <li>Replace the disk.</li>
            <li>Re-create the file-system for the logs.</li>
            <li>Mount the disk onto the associated mountpoint (if the disk is not shared with the RING)</li>
            <li>Confirm that the mountpoint will be available before Docker restarts</li>
            <li>If one of the <b>env_metadata_bucket_datapaths</b> mountpoints is also affected, make sure to follow the steps from the relevant section.</li>
        </ol>
        <p>To finalize the procedure, <a href="#Rerun">rerun the metadata service</a>, following the steps for re-creating directories with the proper permissions, according to the environment configuration.</p>
        <h2 MadCap:autonum="1.4 &#160;"><a name="Rerun"></a>Rerun the Metadata Service</h2>
        <p>To reinstall the software on the lost machine run the following command from the federation directory:</p><pre xml:space="preserve">ansible-playbook -i $MY_IVENTORY_FILE run.yml -l {{SERVER_HOSTNAME}}</pre>
        <p class="codeparatext">&#160;</p>
        <p style="text-align: left;widows: 2;orphans: 5;">When Federation starts the Metadata containers, the node will load its data automatically from the backup. To ensure this, please tail the logs located in the path: <code>{{env_host_logs}}/scality-metadata/logs</code>. To find <code>{{env_host_logs}}</code>, follow the instructions above.</p>
        <p style="text-align: left; widows: 2; orphans: 5;">To check that the metadata node caught everything, run the following command:</p><pre xml:space="preserve">ansible-playbook -i $MY_IVENTORY_FILE tooling-playbooks/check-status-metadata.yml</pre>
        <p>This command will dump a file located in <span class="FileName">/tmp/results.txt</span> and will list every Raft sessions state.</p>
        <ul>
            <li><span class="Code_Terminal">besq</span> to know the number of backup entries loaded</li>
            <li><span class="Code_Terminal">aseq/cseq</span> to know the number of operation loaded</li>
        </ul>
        <p>The restored node should have the same <span class="Variable">bseq</span> and <span class="Variable">aseq/cseq</span> as the other nodes.</p>
    </body>
</html>