﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="4" MadCap:lastHeight="866" MadCap:lastWidth="648">
    <head><title>Configuring S3 Vault (IAM management)</title>
    </head>
    <body>
        <p class="ChapterNumber">4</p>
        <h1 MadCap:autonum="1. &#160;">Configuring Vault (IAM Management)</h1>
        <p style="text-align: left;">Administrator responsibilities in the <MadCap:variable name="S3 Connector Variables.ComponentName" /> environment primarily involve the creation and maintenance of  Vault accounts for  user management and data access. </p>
        <h2 MadCap:autonum="1.1 &#160;">Starting the Vault Module</h2>
        <p style="text-align: left;">S3 Vault modules serve as secure storage for identity- and authentication-related information with <MadCap:variable name="S3 Connector Variables.ComponentName" /> and are responsible for authentication (i.e., verifying request signatures) of requests handled by the connectors. S3 Vault supports SAML-compliant ID providers such as Microsoft ADFS to provide federated authentication/SSO services using  an external directory provider such as Active Directory.</p>
        <h2 style="text-align: left;" MadCap:autonum="1.2 &#160;">S3 Vault Keyfile</h2>
        <p style="text-align: left;">S3 Vault uses secure encryption to store sensitive user identity information and requires a keyfile for this purpose. As part of its key derivation process, S3 Vault uses a master key for sensible data encryption. The master key is  a string of at least 32 characters that must be placed inside the file <span class="ProprietaryFileName">roles/run-vault/files/keyfile</span> by the deploying party. If no seed exists or if the key is short, the deployment process will intentionally fail.</p>
        <p class="Note" style="text-align: left;">For an automated way to generate a master key, refer to <MadCap:xref href="../6_Operational_Tools/Playbook to Generate Master and Secret Keys.htm">"Playbook to Generate Master and Secret Keys" on page 1</MadCap:xref>.</p>
        <h3 class="noTOC" MadCap:autonum="">Important Considerations:</h3>
        <p style="text-align: left;">Confirm that the master key is random and long. An effective method for generating an appropriate master key:</p>
        <p class="codeparatext_lastline"> openssl rand -base64 96</p>
        <p class="Alert">Redeploying with a different master key will make previously stored information unreadable. Doing this makes it impossible to generate keys previously used for encryption. So once there is a seed, store it in a safe place and  copy it to <span class="Code_Terminal">keyfile.yml</span> before deployment: To do this, use the following command:</p>
        <p class="codeparatext_lastline">ansible-playbook -i env/{{pathToFile}}/inventory --tags vault run.yml</p>
        <h2 MadCap:autonum="1.3 &#160;">Starting S3 Vault with Ansible</h2>
        <p style="text-align: left;">The S3 Vault module starts automatically following installation via Ansible (refer to the <span class="PublicationName"><MadCap:variable name="General.SetupInstall" /></span>). If a restart of the S3 Vault module is necessary, use the <span class="Code_Terminal">ansible-playbook</span> command with the <code>&#8209;&#8209;tags</code> parameter set to <span class="ProperNameBold">vault</span>:</p>
        <p class="codeparatext_lastline">ansible-playbook -i env/{{<cite>pathToFile</cite>}}/inventory --tags vault run.yml</p>
        <p class="Note">If <MadCap:variable name="S3 Connector Variables.ComponentName" /> has been installed in offline mode, the ansible-playbook wrapper script shipped with the offline tar file must be used.</p>
        <p style="text-align: left;">In addition to serving as an S3 Vault module restart mechanism, this <span class="Code_Terminal">ansible-playbook</span> command places a master key file on the S3 Vault server under 400 permission and adds its path to the <code>keyFilePath</code> section of the<span class="FileName"> config.json</span> file. </p>
        <h2 MadCap:autonum="1.4 &#160;">Starting S3 Vault from a Command Line</h2>
        <p style="text-align: left;">When run without docker or manually within a docker container, S3 Vault can be started from a command line by running <code>npm start</code>, or alternatively <code>node vaultd.js</code>. </p>
        <p style="text-align: left;">It is necessary to generate a master key and to manually change its permissions to 400 for the user. </p>
        <p class="Note" style="text-align: left;">Scality strongly recommends that S3 Vault not be started from a command line in a production system.</p>
        <h2 MadCap:autonum="1.5 &#160;">Setting Administration Credentials</h2>
        <p style="text-align: left;">Only requests using pre-deployed administration credentials are granted access to administration routes  (e.g., create, delete, and list for accounts). </p>
        <p class="Note" style="text-align: left;">For an automated way to generate administration credentials, refer to <MadCap:xref href="../6_Operational_Tools/Playbook to Generate Admin Credentials.htm">"Playbook to Generate Administration Credentials" on page 1</MadCap:xref>.</p>
        <p style="text-align: left;">To set administration credentials manually, create a file on the filesystem and indicate its path in the entry adminCredentialsFilePath of the Vault <span class="FileName">config.json</span> file. The file must contain a json structure with the desired credentials. For example:</p><pre xml:space="preserve">{
     "{{accessKey1}}": "{{secretKey1}}",
     "{{accessKey2}}": "{{secretKey2}}"
}</pre>
        <p style="text-align: left;">AccessKeys must be between 16 and 32 characters (A-Z0-9), while secretKeys must be 40 characters (a-zA-Z0-9/+=). The credentials can be randomly generated using the following commands:</p><pre xml:space="preserve"># accessKey
$ cat /dev/urandom | tr -dc 'A-Z0-9' | fold -w 20| head -1
# secretKey
$ cat /dev/urandom | tr -dc 'a-zA-Z0-9/=+' | fold -w 40| head -1</pre>
    </body>
</html>