﻿<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" MadCap:lastBlockDepth="5" MadCap:lastHeight="826" MadCap:lastWidth="668">
    <head>
    </head>
    <body>
        <h1>How Access Management Works with ADFS</h1>
        <p style="text-align: left;">Following authentication via ADFS, user applications can access the S3 storage system by logging into S3 Vault and obtaining an access/secret key pair from the service.</p>
        <p class="Note" style="text-align: left;">Refer to <MadCap:xref href="Logging into Vault with SAML Authentication.htm">"Logging into S3 Vault with SAML Authentication" on page 1</MadCap:xref> for information on user access to S3 Vault when SAML&#160;authentication is enabled.</p>
        <p style="text-align: center;">
            <img src="../Resources/Images/SAMLMGMTADFS3.png" class="OneHundredPercent" />
        </p>
        <ol>
            <li>The client application requests an access/secret key pair by initiating login to S3 Vault.</li>
            <li>S3 Vault returns the URL of the ADFS Identity Provider (which includes SAML-specific information) to the client application.			</li>
            <li>The client application accesses the ADFS Identity Provider, which prompts the user application for the user's login and password.</li>
            <li>If the user's credentials are valid, ADFS Identify Provider returns an S3 Vault URL that includes a SAML token containing user information. (An error is returned if the user's credentials are not confirmed.)</li>
            <li>The user application sends the SAML&#160;token to S3 Vault.</li>
            <li>S3 Vault authenticates the SAML&#160;token with ADFS Identity Provider and receives group IDs.</li>
            <li>S3 Vault responds to the key pair request with a new access/secret key pair, or a previously-issued key pair if one exists that has not yet expired.</li>
            <li>Using the access/secret key pair received from S3 Vault, the user application signs an S3 request that is then sent to the S3 Connector.</li>
            <li>The S3 Connector checks the authenticity of the request against S3 Vault (if the user's credentials are not confirmed, an error is returned). </li>
            <li>Upon confirmation, the S3 Connector checks S3 Metadata to determine whether the user is authorized to perform the requested action (i.e., whether the resource's ACL allows the action for the user). If authorization is not granted, an error is returned.</li>
            <li>The request is served to the user application.</li>
        </ol>
        <h2>S3 Vault Key Pairs Under the Covers</h2>
        <p style="text-align: left;">The retrieval of key pairs begins with the initiation of a login to S3 Vault.</p>
        <ol>
            <li style="text-align: left;">The client application sends a POST request to <span class="Code_Terminal">&lt;vault-ip&gt;/login</span>, which redirects to <span class="Code_Terminal">&lt;idprovider-endpoint&gt;</span>.</li>
            <li style="text-align: left;">The client application sends a POST request to <span class="Code_Terminal">&lt;idprovider-endpoint&gt;</span> with its user login and password.<br /></li>
            <li>
                <p style="text-align: left;">If the client is properly authenticated, the ADFS ID provider redirects to <span class="Code_Terminal">&lt;vault-ip&gt;/loginResponse</span> with a SAML token that includes {{domainName}}, {{userName}}, {{userEmail}}, and the user's primary group. The ID provider also sends a cookie to be used in future logins and logouts.</p>
                <p style="text-align: left;">If expired or not yet created, S3 Vault creates a new IAM user for the user with the information included in the SAML token, creates an IAM group <MadCap:conditionalText MadCap:conditions="PrintGuides.Future">and IAM role </MadCap:conditionalText>for the primary group, and generates a new access/secret key pair with a predefined expiration.</p>
            </li>
            <li style="text-align: left;">S3 Vault responds to the <span class="Code_Terminal">&lt;vault-ip&gt;/loginResponse</span> request with the access/secret key pair. S3 Vault also returns a signed cookie at this point, allowing the user to log in again without resubmitting credentials during a predefined session timeout period. Any login request with an expired cookie will redirect to the Identity provider.</li>
        </ol>
        <h2>Logging Out of S3 Vault</h2>
        <p style="text-align: left;">Logging out of S3 Vault  closes the client session for both the ADFS ID provider and S3 Vault. Any subsequent request will be redirected to the Identity provider for valid credentials.</p>
        <p class="Note" style="text-align: left;">Refer to <MadCap:xref href="Logging into Vault with SAML Authentication.htm#Removing">"Removing a User Access Key" on page 1</MadCap:xref> for information on logging out of S3 Vault and deleting the session cookie.</p>
        <div>
            <p style="text-align: left;">The session cookie signed by S3 Vault includes a session identifier to prevent cookie forging and repetition attacks, while the use of HTTPS prevents the cookie from being stolen in transit.</p>
            <p style="page-break-after: avoid;text-align: left;">The logout process is as follows:</p>
            <ol>
                <li>The client application sends a POST request to <span class="Code_Terminal">&lt;vault-ip&gt;/logout</span> providing the S3 Vault (and ADFS) cookie. If cookie verification succeeds, the S3 Vault session is marked as closed and any key pair stored for the user is deleted. Otherwise an error is returned.</li>
                <li>If the S3 Vault's cookie is valid, the client is redirected to the ADFS&#160;ID provider, which checks the ADFS cookie and logs the user out of the ADFS system. The request is then redirected to POST <span class="Code_Terminal">&lt;vault-ip&gt;/logoutResponse</span>.</li>
                <li>S3 Vault removes its own cookie and responds.</li>
            </ol>
        </div>
    </body>
</html>